.loginPanelStyle{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 15%;
}
.content{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    margin-top: 5%;
}

.ui-widget,
.ui-widget .ui-widget
{
    font-size:90%;
}
